Package: madagascar
Version: 1.7-1
Architecture: amd64
Maintainer: Alexis Enrique Rodríguez Gutiérrez <alexisrodgtz@gmail.com>
Installed-Size: 73804
Depends: freeglut3, libblas3 | libblas.so.3, libc6 (>= 2.14), libfftw3-single3, libgcc1 (>= 1:4.1.1), libgl1-mesa-glx | libgl1, libglu1-mesa | libglu1, libgomp1 (>= 4.9), libhwloc5 (>= 1.11.0), libjpeg62-turbo (>= 1.3.1), liblapack3 | liblapack.so.3, libopenmpi1.6, libstdc++6 (>= 4.9), python (>= 2.7), python (<< 2.8)
Section: math
Priority: optional
Homepage: http://reproducibility.org/wiki/Main_Page
Description: Madagascar is an open-source software package for multidimensional data analysis and reproducible computational experiments
 Madagascar is an open-source software package for multidimensional data analysis and reproducible computational experiments. Its mission is to provide
  - a convenient and powerful environment
  - a convenient technology transfer tool
  for researchers working with digital image and data processing in geophysics and related fields. Technology developed using the Madagascar project management system is transferred in the form of recorded processing histories, which become "computational recipes" to be verified, exchanged, and modified by users of the system.
